<footer>
    <div class="rodape-site">
        <div class="container">
            <div class="row">

                <div class="col-md">
                    <h4>Contato</h4>
                    <div class="rodape-item">
                        <i class="fas fa-phone"></i>
                        (86) 99400-0000
                    </div>
                    <div class="rodape-item">
                        <i class="fas fa-phone"></i>
                        (86) 99400-0000
                    </div>
                    <div class="rodape-item">
                        <i class="far fa-envelope"></i>
                        ceratocone@gmail.com
                    </div>
                    <br>
                </div>

                <div class="col-md">
                    <h4>Endereço</h4>
                    <div class="rodape-item">
                        <i class="fas fa-map-marker-alt"></i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste atque magnam laudantium odit nihil praesentium
                    </div>
                    <br>
                </div>

                <div class="col-md">
                    <h4>Redes sociais</h4>
                    <div class="rodape-item">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </div>
                    <div class="rodape-item">
                        <i class="fab fa-instagram"></i>
                        Instagram
                    </div>
                    <div class="rodape-item">
                        <i class="fab fa-twitter"></i>
                        Twitter
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>
    <div class="rodape-meu">
        <div class="container">
        Desenvolvido com &nbsp;<i class="fas fa-heart"></i>&nbsp; por <a target="_blank" href="https://jjpaulo2.github.io">@jjpaulo2</a>
        </div>
    </div>
</footer>