@media all and (max-width: 992px){
    header {
        display: none;
    }
}
@media all and (min-width: 993px){
    header {
        background-color: #9bd77f;
    }
    header img {
        display: block;
        margin: auto;
    }
    .navbar-brand img {
        display: none;
    }
}