@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');

@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/* PRINCIPAL */

body {
    font-family: 'Kollektif' !important;
}

.navbar {
    background-color: #9bd77f;
}

.bg1 {
    background-color: #6b9c54;
    color: white;
}
.bg2 {
    background-color: #9bd77f;
    color: black;
}

a {
    color: #51803b;
}
a:hover {
    color: #3e692b;
}

.subtitulo {
    background-color: #3e692b;
    color: white;
    padding: 10px;
    font-size: 12pt;
    text-align: right;
    margin-top: 0;
}

article h1 {
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    color: white;
    padding: 20px 30px 20px 20px;
    background-color: #6b9c54;
    top: 0;
    margin-top: 0;
}

.btn-success {
    background-color: #3e692b;
    border-color: #3e692b;
}
.btn-success:hover {
    background-color: #2f5221;
}

/* SLIDE */
.carousel-inner {
    background-color: black;
}
.carousel-inner h5 {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: max-content;
    margin: 0 auto 10px auto;
}
.carousel-inner img {
    opacity: .7;
}

/* DEPOIMENTOS */

.depoimento img, .depoimento-index img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}
.depoimento-index {
    background-color: #3e692b;
}

/* SOBRE */

#sobre {
    background-color: #6b9c54;
    color: white;
    padding: 30px 0 30px 0;
}
.sobre-item {
    text-align: center;
    padding: 10px;
}
.icone:hover {
    text-decoration: none;
}
.sobre-item h3 {
    text-transform: uppercase;
    font-weight: 600;
}
.sobre-item i {
    background-color: white;
    color: #6b9c54;
    font-size: 30pt;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 10px auto 20px auto;
}
a.icone i:hover {
    background-color: #d1ffbc;
}
.sobre-item i::before {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* PAGINAÇÃO */
.page-item .page-link {
    color: #6b9c54 !important;
}
.active .page-link {
    background-color: #6b9c54 !important;
    border-color: #6b9c54 !important;
    color: white !important;
}

/* DOAÇÕES */
.card-doacao {
    margin: 10px auto 10px auto;
    max-width: 250px;
}
.card-doacao .card-body {
    background-size: cover;
    background-position: center;
}
.card-doacao .bola {
    background-color: rgba(80, 143, 50, .8);
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto 20px auto;
    cursor: pointer;
}
.card-doacao .bola:hover {
    background-color: rgba(80, 143, 50, 1);
}
.card-doacao span {
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 18pt;
    display: block;
    text-transform: uppercase;
    transform: translateY(50%);
}
.card-doacao a:hover {
    text-decoration: none;
}
.card-doacao-paginas {
    background-color: white;
    margin: 20px;
    max-width: 100%;
}
.card-doacao-paginas .card-body {
    padding: 0;
}
.card-doacao-paginas .fundo {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .3;
}
.card-doacao-paginas .bola {
    position: relative;
} 

/* CONTATO */
.botao-doar {
    display: block;
    background-color: #6b9c54;
    padding: 10px;
    text-align: center;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}
.botao-doar:hover {
    color: white;
    text-decoration: none;
    background-color: #3e692b;
}
.botao-doar span {
    display: block;
    font-size: 16pt;
    margin-top: 50%;
    transform: translateY(-50%);
}

/* RODAPÉ */
footer {
    clear: both;
}
.rodape-site {
    padding: 50px 20px 30px 20px;
    background-color: #9fe47f;
}
.rodape-site h4 {
    font-weight: 600;
}
.rodape-item i {
    vertical-align: middle;
    margin-right: 5px;
}
.rodape-meu {
    background-color: #c6f0b0;
    padding: 20px;
}