<!-- 
    WEBSITE MADE BY @JJPAULO2
    MORE INFORMATION AT https://jjpaulo2.github.io

    WEBSITE FEITO POR @JJPAULO2
    MAIS INFORMAÇÕES EM https://jjpaulo2.github.io
-->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/arte.png' %}"/>
    <meta name="description" content="{{ sobre.texto_sobre_nos }}">
    <meta name="theme-color" content="#508f32">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <title>Ceratocone | Contato</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

    <nav id='barra-navegacao' class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link" href="../..">Início</a>
            <a class="nav-item nav-link" href="../sobre">Sobre nós</a>
            <a class="nav-item nav-link" href="../depoimentos">Depoimentos</a>
            <a class="nav-item nav-link" href="../doar">Doe</a>
            <a class="nav-item nav-link active" href="#">Contato <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>

    <div id="start"></div>

    <article>
        <h1>
            <div class="container">Contato</div>
        </h1>
        <div class="container">
            <div class="row">
    
                <div class="col-md">
                    <br>
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome completo</label>
                            <input type="text" class="form-control" id="nome">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group col-md-6">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mensagem">Mensagem</label>
                            <textarea class="form-control" id="mensagem" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
    
                <div class="col-md-4">
                    <br>
                    <div class="card card-doacao card-doacao-paginas">
                        <div class="card-body">
                            <div class="fundo" style="background-image: url({% static 'img/olho.jpg' %});"></div>
                            <a href="../doar">
                                <div class='bola'>
                                    <span>Doe<br>Agora</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    </article>
    <br>

    <footer>
        <div class="rodape-site">
            <div class="container">
                <div class="row">
    
                    <div class="col-md">
                        <h4>Contato</h4>
                        {% for contato in contatos %}
                            <div class="rodape-item">
                                <i class="{{contato.tipo_contato.fonte_class}}"></i>
                                {{contato.contato}}
                            </div>
                        {% endfor %}
                        <br>
                    </div>
    
                    <div class="col-md">
                        <h4>Endereço</h4>
                        <div class="rodape-item">
                            <a href="https://www.google.com/maps/place/{{sobre.endereco}}/" target="_blank">
                                <i class="fas fa-map-marker-alt"></i>
                                {{sobre.endereco}}
                            </a>
                        </div>
                        <br>
                    </div>
    
                    <div class="col-md">
                        <h4>Redes sociais</h4>
                        {% for rede_social in redes_sociais %}
                            <div class="rodape-item">
                                <a href="{{rede_social.link}}" target="_blank">
                                    <i class="{{rede_social.tipo_rede_social.fonte_class}}"></i>
                                    {{rede_social.tipo_rede_social.tipo}}
                                </a>
                            </div>
                        {% endfor %}
                        <br>
                    </div>
    
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8e6f7a398a.js" crossorigin="anonymous"></script>
    <script>
        var altura = $('#barra-navegacao').css('height');
        $('#start').css('height', altura);

        function checarMudancaAltura(){
            if ($('#barra-navegacao').css('height') !== altura){
                $('#start').css('height', altura);
            }
        }
        setTimeout(checarMudancaAltura, 500);
    </script>
</body>
</html>