<!-- 
    WEBSITE MADE BY @JJPAULO2
    MORE INFORMATION AT https://jjpaulo2.github.io

    WEBSITE FEITO POR @JJPAULO2
    MAIS INFORMAÇÕES EM https://jjpaulo2.github.io
-->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'img/arte.png' %}"/>
    <meta name="theme-color" content="#508f32">
    <meta name="description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum fugiat asperiores sit mollitia excepturi minima eaque cumque, quos officia deleniti cum, quis, consequatur nesciunt ad dignissimos odio laudantium temporibus? Voluptatibus.">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <title>Ceratocone | Depoimentos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

    <nav id='barra-navegacao' class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link" href="../../..">Início</a>
            <a class="nav-item nav-link" href="../../sobre">Sobre nós</a>
            <a class="nav-item nav-link active" href="#">Depoimentos <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="../../doar">Doe</a>
            <a class="nav-item nav-link" href="../../contato">Contato</a>
            </div>
        </div>
    </nav>

    <div id="start"></div>

    <article>
        <h1>
            <div class="container">Depoimentos</div>
        </h1>
        <h3 class='subtitulo'>
            <div class="container">{{quant_depoimentos}} depoimentos registrados.</div>
        </h3>
        <br>
        <div class="container">

            <div class="row">

                {% if depoimentos %}
                    {% for depoimento in depoimentos  %}

                        <div class="col-md">
                            <div class="card depoimento">
                                <div class="card-body">
                                    <img src="{{depoimento.foto.url}}" alt="">
                                    <h5 class="card-title">{{depoimento.nome}}</h5>
                                    <p class="card-text">{{depoimento.depoimento}}</p>
                                </div>
                            </div>
                            <br>
                        </div>

                        {% if forloop.counter|divisibleby:2 %}
                            </div>
                            <div class="row">
                        {% endif %}

                    {% endfor %}
                {% else %}
                    <div class="alert alert-light" role="alert">
                        Nenhum depoimento enviado ainda.
                    </div>
                {% endif %}

            </div>

            <nav aria-label="navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="../{{pagina_anterior}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for i in paginacao %}
                        <li class="page-item {% if i == pagina %}active{% endif %}">
                            <a class="page-link" href="../{{i}}">{{i}}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item">
                        <a class="page-link" href="../{{proxima_pagina}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </article>

    <footer>
        <div class="rodape-site">
            <div class="container">
                <div class="row">
    
                    <div class="col-md">
                        <h4>Contato</h4>
                        {% for contato in contatos %}
                            <div class="rodape-item">
                                <i class="{{contato.tipo_contato.fonte_class}}"></i>
                                {{contato.contato}}
                            </div>
                        {% endfor %}
                        <br>
                    </div>
    
                    <div class="col-md">
                        <h4>Endereço</h4>
                        <div class="rodape-item">
                            <a href="https://www.google.com/maps/place/{{endereco}}/" target="_blank">
                                <i class="fas fa-map-marker-alt"></i>
                                {{endereco}}
                            </a>
                        </div>
                        <br>
                    </div>
    
                    <div class="col-md">
                        <h4>Redes sociais</h4>
                        {% for rede_social in redes_sociais %}
                            <div class="rodape-item">
                                <a href="{{rede_social.link}}" target="_blank">
                                    <i class="{{rede_social.tipo_rede_social.fonte_class}}"></i>
                                    {{rede_social.tipo_rede_social.tipo}}
                                </a>
                            </div>
                        {% endfor %}
                        <br>
                    </div>
    
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8e6f7a398a.js" crossorigin="anonymous"></script>
    <script>
        var altura = $('#barra-navegacao').css('height');
        $('#start').css('height', altura);

        function checarMudancaAltura(){
            if ($('#barra-navegacao').css('height') !== altura){
                $('#start').css('height', altura);
            }
        }
        setTimeout(checarMudancaAltura, 500);
    </script>
</body>
</html>